.row-fluid.protected {
  display: none;
}
.row-fluid.private {
  display: none;
}

.collapse {
  height: auto !important; /* Don't do that weird collapsing side menu, always open it. */
}

footer.row-fluid {
  display: none; /* Hide footer */
}

/* Remove 'public method' icon */
.class #summary section.public .span4:first-of-type:before, 
.class #summary section.public .span6:first-of-type:before, 
h3.public:before {
  display: none;
}
