name: PHPUnit tests

on:
  push:
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version: ['8.2', '8.3', '8.4']

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Install dependencies
        uses: php-actions/composer@v6
        with:
          php_version: ${{ matrix.php-version }}

      - name: PHPUnit tests
        uses: php-actions/phpunit@v4
        with:
          php_version: ${{ matrix.php-version }}
          configuration: 'phpunit.xml'

